html, body{
    background: #fff;
}

.con-navbar {
    margin: 0 0 0 80px !important;
}

#contenedor-main { 
}

#contenedor-body {
    
}

#contenedor-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:auto;
    z-index: 1030;
    height:100%;
    width:80px;
    background: var(--bs-marine);
    color: #aaa;
}

a.menu-opcion{
    text-align:center;
    padding:10px 0;
    display:block;
    font-size:30px;
    color: rgba(255,255,255,0.4);

    border: 3px solid transparent;

    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

a.menu-opcion:not(:first-child):hover, a.menu-opcion:not(:first-child):active {
    color: var(--bs-teal);
    border-left: 3px solid var(--bs-teal);
}         

a.menu-opcion:not(:first-child).selected{
    color: var(--bs-primary);
    border-left: 3px solid var(--bs-primary);
}

.avatar img{
    width: 40px;
    height:40px;
    border-radius:50%;
    margin: 10px 0 0 0;
}

.avatar .emoji{
    position:relative;
    
    height:52px;
    width:40px;
}

.avatar .emoji > div{
    top: -3px;
    left:17px;
    font-size:40px !important;
    position:absolute;
}


.pie-chart {
	position: absolute;
	width: 52px;
	height: 52px;
	margin: 0;
    z-index: 1;
    left:12px;
    top:4px;
}


@media (max-width: 767px) {
    .con-navbar {
        margin: 0 0 45px 0 !important;
    }

    #contenedor-menu {
        right: 0;
        top: auto;
        height:65px;
        width:auto;
        text-align:center;
    }    

    a.menu-opcion{
        text-align:center;
        padding:10px;
        font-size:20px;
        display:inline-block;
    }   

    a.menu-opcion:not(:first-child):hover, a.menu-opcion:not(:first-child):active {
        border-left: 3px solid transparent;
        border-bottom: 3px solid #13D3B3;
    }         
    
    a.menu-opcion:not(:first-child).selected{
        border-left:none;
        border-bottom: 3px solid var(--bs-primary);
    }
    
    .avatar img{
        margin: 0 0 10px 0;
        left:18px;
        top:27px;
    }

    .avatar .emoji{
        height:9px;
    }
    
    .avatar .emoji > div{
        left: 0;
        top: -20px;
    }

    
    .pie-chart {
        left:12px;
        top:21px;
    }

    a.menu-opcion > svg{
        margin-top:15px;
        display:inline-block;
    }   
}

.upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg {
    display: none;
}
.upload-demo.ready .upload-demo-wrap {
    display: block;
}
.upload-demo.ready .upload-result {
    display: inline-block;    
}
.upload-demo-wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
}